In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
ans: 
Databases are the collection of data in order to store and retrieve data. The database consists of data which can be a numeric, alphabetic and also alphanumeric form. 
Analyzing data is a key feature of database management system that is DBMS.
SQL-    
1)	Databases are categorized as Relational Database Management System (RDBMS).
2)	SQL databases have fixed or static or predefined schema.	
3)	SQL databases display data in form of tables so it is known as table-based database.	
4)	SQL databases are vertically scalable.	
5)	SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.	
6)	SQL databases are best suited for complex queries.	
7)	SQL databases are not best suited for hierarchical data storage.	
8)	MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.	

NOSQL-
1) 	NoSQL databases are categorized as Non-relational or distributed database system.
2)  NoSQL databases have dynamic schema.
3)  NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.
4)  NoSQL databases are horizontally scalable.
5)  In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.
6)  NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.
7)  NoSQL databases are best suited for hierarchical data storage.
8)  MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ans :-

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas,
tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases. Creating a schema.
The four primary DDL commands in SQL are CREATE, DROP, ALTER, and TRUNCATE, which are used for different purposes, as explained below:

1. CREATE: This command is used to create new database objects, such as tables, views, indexes, and constraints. For example, to create a new table called "customers" with columns for "customer_id", "first_name", "last_name", and "email", 
        we would use the following SQL statement:

CREATE TABLE customers (
   customer_id INT PRIMARY KEY,
   first_name VARCHAR(50),
   last_name VARCHAR(50),
   email VARCHAR(100)
);

2. DROP: This command is used to delete existing database objects, such as tables, views, indexes, and constraints. For example, to delete the "customers" table we created earlier, 
          we would use the following SQL statement:

DROP TABLE customers;

3. ALTER: This command is used to modify the structure of existing database objects, such as tables, views, and constraints. For example, to add a new column called "phone" to the "customers" 
          table we created earlier, we would use the following SQL statement:

ALTER TABLE customers
ADD COLUMN phone VARCHAR(20);

4. TRUNCATE: This command is used to delete all the data from a table while keeping its structure intact. For example, to remove all the data from the "customers" 
             table we created earlier, we would use the following SQL statement:

TRUNCATE TABLE customers;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
ans:
DML stands for Data Manipulation Language, which is a category of SQL commands used to manipulate data within a database. 
It includes commands for inserting, updating, and deleting data within database tables.

The three primary DML commands in SQL are INSERT, UPDATE, and DELETE, which are used for different purposes, as explained below:
1. INSERT: This command is used to add new rows of data into a table. For example, to insert a new row of data into the "customers" 
           table we created earlier, we would use the following SQL statement:

INSERT INTO customers (customer_id, first_name, last_name, email, phone)
VALUES (1, 'John', 'Doe', 'johndoe@example.com', '123-456-7890');

2. UPDATE: This command is used to modify existing rows of data within a table. For example, to update the email address for the customer with a customer_id of 1 in 
           the "customers" table we created earlier, we would use the following SQL statement:

UPDATE customers
SET email = 'johndoe_updated@example.com'
WHERE customer_id = 1;

3. DELETE: This command is used to delete existing rows of data from a table. For example, to delete the customer with a customer_id of 1 
           from the "customers" table we created earlier, we would use the following SQL statement:

DELETE FROM customers
WHERE customer_id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
ans:
DQL stands for Data Query Language, which is a category of SQL commands used to query and retrieve data from a database. It includes commands for selecting data from one or more tables, 
filtering data based on certain conditions, and sorting and grouping data.

SELECT *
FROM customers;

SELECT first_name, last_name, job_title
FROM customers;

SELECT *
FROM customers
WHERE salary > 50000;

In [ ]:
Q5. Explain Primary Key and Foreign Key.
ans:
Primary Key:
A primary key is a column or set of columns in a database table that uniquely identifies each row or record in that table. It must contain unique values and cannot contain null values. Primary keys are used to ensure data integrity and consistency, 
as they provide a way to uniquely identify each row in a table and prevent duplicate entries.

For example, in a table named "customers", the customer_id column could be defined as the primary key. This would ensure that each row in the table represents a unique customer and that no two customers have the same customer_id value.

Foreign Key:
A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables, where the foreign key column in one table references the primary key column in 
another table. This allows us to link data between tables and create more complex data models.

For example, suppose we have two tables: "orders" and "customers". The "orders" table has a column named "customer_id" that references the primary key column "customer_id" in the "customers" table. This allows us to link each order to a specific 
customer, as each row in the "orders" table would have a customer_id value that corresponds to a unique customer in the "customers" table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ans:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into test2.test_table values(123 , 'sudh' , 234.45,234 ,'kumar')
mydb.close()
                 
cursor() method:
The cursor() method is used to create a cursor object, which is used to execute SQL queries and fetch results from a database. The cursor object acts as a handle or pointer to the result set of a query.
We can use methods like execute(), fetchall(), fetchone(), etc. on the cursor object to interact with the database.

execute() method:
The execute() method is used to execute an SQL query on a database using a cursor object. It takes a SQL query string as a parameter and returns the number of rows affected by the query. 
This method can be used to execute any type of SQL query, such as SELECT, INSERT, UPDATE, DELETE, etc. After executing a query, we can use methods like fetchall(), fetchone(), etc. on the cursor object to fetch results from the database.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query
ans: 
In a typical SQL query, the clauses are executed in the following order:

1. FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

2. JOIN: The JOIN clause is used to join multiple tables based on a common column or key.

3. WHERE: The WHERE clause is used to filter the data based on a specified condition or set of conditions.

4. GROUP BY: The GROUP BY clause is used to group the data based on one or more columns.

5. HAVING: The HAVING clause is used to filter the grouped data based on a specified condition or set of conditions.

6. SELECT: The SELECT clause is used to specify which columns to retrieve from the tables.

7. DISTINCT: The DISTINCT keyword is used to remove duplicate rows from the result set.

8. ORDER BY: The ORDER BY clause is used to sort the data in the result set based on one or more columns.

9. LIMIT: The LIMIT clause is used to limit the number of rows returned in the result set.